node_modules
jspm_packages
.serverless
.esbuild
.dynamodb

.DS_Store

########################################
# These are ignored because we're using pNPM.
# We absolutely want a lock file, its just not
# either one of these!
package-lock.json
yarn.lock
########################################

.env.*